@model AlphaForums.Models.ForumViewModels.ForumTopicModel

<div class="container body-content">
    <div class="row sectionHeader">
        <span class="text-white-50" style="font-size: 20px">@Model.Forum.Name Forum</span>
        <div class="sectionHeading">
            @if (Context.User.Identity?.IsAuthenticated == true)
            {
                <span id="headingBtn">
                    <a asp-controller="Post"
                       asp-action="Create"
                       asp-route-id="@Model.Forum.Id"
                       class="btn btn-newPost">
                        Create Post
                    </a>
                </span>
            }
            <form asp-controller="Forum" asp-action="Search" method="POST">
                <div class="searchForm">
                    <input name="query" type="text" 
                           placeholder="Search..." class="searchBar" 
                           value="@Model.SearchQuery"/>
                    <button type="submit" class="btn btn-search text-center">
                        <i class="material-icons po">search</i>
                    </button>
                </div>
                <input asp-for="Forum.Id" name="id" type="hidden"/>
            </form>
        </div>
        <div class="sectionDescription">
            <div class="forumLogo" style="background-image: url('@Model.Forum.ImageUrl')"></div>
            <p>Welcome to the @Model.Forum.Name forum. Please keep posts friendly and on-topic.</p>
            @if (User.Identity?.IsAuthenticated == false)
            {
                <p>
                    <span>
                        You must be a
                        <a class="text-decoration-none" asp-area="Identity" asp-page="/Account/Register">registered member</a>
                        to create a new post.
                    </span>
                </p>
            }
            
        </div>
    </div>
    <div class="row forumIndexContent">
        @if (Model.Posts.Any())
        {
            <table class="table table-hover table-bordered" id="forumIndexTable">
                <tbody>
                @foreach (var post in Model.Posts)
                {
                    <tr>
                        <td>
                            <div class="postData">
                                <div class="postTitle">
                                    <a class="smFontSize text-decoration-none" asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">@post.Title</a>
                                </div>
                                <div class="forumSubTitle">
                                    <div class="smFontSize">
                                        <span class="postAuthor">
                                            <a class="text-decoration-none" asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">
                                                @post.AuthorName
                                            </a>
                                        </span>
                                        (@post.AuthorRating) 
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="forumPostCount">
                                Replies: @post.RepliesCount
                            </div>
                        </td>
                        <td>
                            <div class="postDate">@post.DatePosted</div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <div class="noPosts">
                <i class="material-icons md-72">question_answer</i>
            </div>
        }
        </div>
</div>

