@using X.PagedList.Mvc.Core
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AlphaForums.Models.ForumViewModels.ForumTopicModel

<div class="container body-content">
    <div class="row sectionHeader">
        <span class="title" style="font-size: 20px">@Model.Forum.Name Forum</span>
        <div class="sectionHeading">
            @if (Context.User.Identity?.IsAuthenticated == true)
            {
                <span id="headingBtn">
                    <a asp-controller="Post"
                       asp-action="Create"
                       asp-route-id="@Model.Forum.Id"
                       class="btn btn-newPost">
                        New Post
                    </a>
                </span>
            }
            <form asp-controller="Forum" asp-action="Search" method="POST">
                <div class="searchForm">
                    <input name="query" type="text"
                           placeholder="Search..." class="searchBar"
                           value="@ViewBag.query"/>
                    <button type="submit" class="btn btn-search text-center">
                        <i class="material-icons po">search</i>
                    </button>
                </div>
                <input asp-for="Forum.Id" name="id" type="hidden"/>
            </form>
        </div>
        <div class="sectionDescription">
            <div class="forumLogo" style="background-image: url('@Model.Forum.ImageUrl')"></div>
            <p>Welcome to the @Model.Forum.Name forum. Please keep posts friendly and on-topic.</p>
            @if (User.Identity?.IsAuthenticated == false)
            {
                <p>
                    <span>
                        You must be a
                        <a class="text-decoration-none" asp-area="Identity" asp-page="/Account/Register">registered member</a>
                        to create a new post.
                    </span>
                </p>
            }

        </div>
    </div>
    <div class="row forumIndexContent position-relative pb-5">
        @if (Model.Posts.Any())
        {
            <table class="table table-hover " id="forumIndexTable">
                <tbody>
                @foreach (var post in Model.Posts)
                {
                    <tr>
                        <td>
                            <div class="postData">
                                <div class="postTitle">
                                    <a class="smFontSize text-decoration-none" asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">@post.Title</a>
                                </div>
                                <div class="forumSubTitle">
                                    <div class="smFontSize">
                                        <span class="postAuthor">
                                            <a class="text-decoration-none" asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">
                                                @post.AuthorName
                                            </a>
                                        </span>
                                        (@post.AuthorRating)
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="w-100 height-40px d-flex align-items-center">
                                <div class="forumPostCount">
                                    Replies: @post.RepliesCount
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="w-100 height-40px d-flex align-items-center">
                                <div class="postDate">@post.DatePosted</div>
                            </div>
                        </td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                <div class="height-44px d-flex align-items-center justify-content-end">
                                    <a class="btn" asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a class="btn" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal@(post.Id)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                    <div class="modal fade" id="confirmDeleteModal@(post.Id)" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="confirmDeleteLabel">Confirm delete</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Do you want delete this post?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <a class="btn btn-danger" asp-controller="Post" asp-action="Delete" asp-route-id="@post.Id">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
            <br/>

            <div class="position-absolute bottom-0 p-0">
                @Html.PagedListPager(Model.Posts, page =>
                        Url.Action("Topic", new { Model.Forum.Id, page, pageSize = ViewBag.pageSize, query = ViewBag.query }),
                    new PagedListRenderOptions
                    {
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" }
                    }
                )
            </div>
        }
        else
        {
            <div class="noPosts">
                <i class="material-icons md-72">question_answer</i>
            </div>
        }


    </div>
</div>