@using Microsoft.AspNetCore.Identity
@using AlphaForums.Data.Models
@model AlphaForums.Models.ProfileViewModels.ProfileModel
@inject UserManager<ApplicationUser> UserManager

<div class="container body-content">
    <div class="row sectionHeader text-bold">
        <div class="sectionHeading">
            User Profile
        </div>
    </div>
    <div class="row userProfile">
        <div class="col-md-4">
            <div id="userProfileImage" style="background-image: url(@Model.ProfileImageUrl)"></div>
            @if (UserManager.GetUserId(User) == Model.UserId)
            {
                <form method="POST" enctype="multipart/form-data"
                      asp-controller="Profile" asp-action="UploadProfileImage">
                    <input name="file" class="form-control w-50" type="file" id="formFile">
                    <button type="submit" class="btn btn-success mt-2">
                        Save
                    </button>
                </form>
            }
        </div>
        <div class="col-md-8">
            <span id="userName" class="text-bold">@Model.UserName</span>
            @if (@Model.IsAdmin)
            {
                <span class="isAdmin"><strong>Role: </strong>Admin</span>
            }
            <span id="userRating">
                <strong>Current Rating: </strong> @Model.UserRating
            </span>
            <span id="userEmailLabel">
                <strong>Email: </strong> @Model.Email
            </span>
            @* <span id="userCreateLabel"> *@
            @*     <strong>Member Since: </strong>@Model.MemberSince *@
            @* </span> *@

        </div>
    </div>

</div>